<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jspBasicTagPojo</display-name>
  <welcome-file-list>
  <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <context-param>
  <param-name>param1</param-name>
  <param-value>value of param1</param-value>
  </context-param>
  
  <servlet>
  <servlet-name>myjsp</servlet-name>
  <jsp-file>/WEB-INF/jsppages/other.jsp</jsp-file>
  <init-param>
  <param-name>count</param-name>
  <param-value>10</param-value>
  </init-param>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>myjsp</servlet-name>
  <url-pattern>/other</url-pattern>
  </servlet-mapping>
</web-app>